In [90]:
import pandas as pd
import numpy as np

df = pd.read_excel('input1.xlsx')
df['number'] = df.apply(lambda x: int(x['凭证'][-5:]), axis=1)

In [94]:
mx, mi = df['number'].min(), df['number'].max()
sdf = pd.DataFrame(np.arange(mi, mx + 1), columns=['label'])
sdf

Empty DataFrame
Columns: [label]
Index: []

In [93]:
mx, mi

(1, 19858)

In [85]:
# pd.DataFrame(np.arange(s.min(), s.max() + 1), columns=['label'])

0            1
1            2
2            3
3            4
4            5
5            6
6            7
7            8
8            9
9           10
10          11
11          12
12          13
13          14
14          15
15          16
16          17
17          18
18          19
19          20
20          21
21          22
22          23
23          24
24          25
25          26
26          27
27          28
28          29
29          30
         ...
19828    19829
19829    19830
19830    19831
19831    19832
19832    19833
19833    19834
19834    19835
19835    19836
19836    19837
19837    19838
19838    19839
19839    19840
19840    19841
19841    19842
19842    19843
19843    19844
19844    19845
19845    19846
19846    19847
19847    19848
19848    19849
19849    19850
19850    19851
19851    19852
19852    19853
19853    19854
19854    19855
19855    19856
19856    19857
19857    19858
Length: 19858, dtype: int64

In [63]:
s = set(int(x[0][-5:]) for x in df.values)
missing = []
for x in range(1, 19859):
    if x not in s:
        missing.append(x)
missing

[87,
 456,
 615,
 810,
 1430,
 1546,
 2780,
 4408,
 4596,
 4856,
 4899,
 4900,
 4949,
 4956,
 5199,
 5827,
 5846,
 6121,
 6590,
 6697,
 6701,
 6704,
 6988,
 7143,
 7146,
 7148,
 7151,
 7153,
 7236,
 7251,
 7252,
 7836,
 7888,
 7898,
 7899,
 7900,
 8050,
 8179,
 8735,
 9045,
 9265,
 10037,
 10222,
 10774,
 11276,
 11693,
 12244,
 12659,
 13538,
 14047,
 15046,
 15751,
 15931,
 15932,
 15933,
 15935,
 15937,
 17120,
 17137,
 17382,
 17501,
 17502,
 18325,
 18668,
 18670,
 18672,
 18678,
 18680,
 19164,
 19171,
 19516,
 19562,
 19563,
 19564,
 19566]

In [69]:
len(missing)

75